@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    
    height: 100vh;
    background-image: url(01.jpg);
    background-size: 100%;
}
.small-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1300px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style: none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    color: rgb(0, 0, 0);
}
nav ul li:hover{
    color: #13c4ff;
}